{% load static %}
<!Doctype HTML>
<html>
<head>
<title>FSHM</title>
<link rel="stylesheet" type="text/css" href="{% static "css/bulma.min.css" %}">
</head>
<body>
{% comment %} <h1>Free Software Hardware Movement Puducherry</h1> {% endcomment %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Publications
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Blog
          </a>
          <a class="navbar-item">
            Papers
          </a>
          <a class="navbar-item">
            Books
          </a>
        </div>
      </div>
 


  <div id="navbarBasicExample" class="navbar-menu">


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Projects
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            History
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
        </div>
      </div>
 
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Organization
        </a>

        <div class="navbar-dropdown">
         <a class="navbar-item">
            History
          </a>
          <a class="navbar-item">
            Team
          </a>
          <a class="navbar-item">
            Structure
          </a>
          <a class="navbar-item">
            Accounts
          </a>
        </div>
      </div>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Meetups
        </a>

        <div class="navbar-dropdown">
         <a class="navbar-item">
            Upcoming
          </a>
          <a class="navbar-item">
            Past
          </a>
          <a class="navbar-item">
            Structure
          </a>
         
        </div>
      </div>
    </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Join Us</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
</section>

</body>
</html>